.container {
    height: 200px;
    position: relative;
    border: 3px solid rgb(164, 163, 94);
  }
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 100px;
    width: 300px;
    height: 570px;
    border: 3px solid rgb(0, 0, 0);
  }
.input {
    position: center;
    text-align: center;
    display:flex;
    border-radius: 10px;
}

.button {
    background-color:rgb(27, 33, 154);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    margin-top: 23px;
    border-radius: 15px;
    color:white;
}

.text{
    font-weight: bold;
    font-size: large;
}

.buttons {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 23px;
    border-radius: 15px;
    padding:8px;
}
.buttons:hover {
    background-color: rgb(164, 163, 94);
}
.name {
    position: center;
    text-align: center;
    display:flex;
    font-style: oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}