.editeventsContainer {
    width: 80%;
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.upperContainer {
  width: 80%;
  margin: 0% 10% 0% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  .header {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 53px;
    text-align: left;
    width: 470px;
    color: var(--navy);
    /* padding-left: 60px; */
    /* margin: 50px 0px 10px 0px; */
  }
  
  .verticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contentBox {
    width: 100%;
    display: flex;
        align-items: center;

  }
  
  .triangleButton {
    height: 30px;
    width: 30px;
    margin: 15px;
  }
  
  .triangleButtonRotate {
    transform: rotate(180deg);
  }
  
   
  .editUpperIcon {
    height: 30px;
    width: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
     
  .editMiddleIcon {
    height: 30px;
    width: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  .editIcon {
    height: 30px;
    width: 30px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  
  .upperRight {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: end;
    width: calc(100%-120px);
    /* background-color: green; */
    right:0;
  }
  
  .editBox {
    height: 271px;
    /* 120 px is bc icons are 60 px. change if icon size changes*/
    width: calc(100% - 120px);
    background: #FFFFFF;
    border-radius: 15px;
    /* padding: 35px; */
    padding-left: 204px;
    display: flex;
    align-items: center;

  }
  
  .eventImage {
    height: 202px;
    border: 3px solid #424242;
    align-self: center;
  }
  
  .eventDetails {
    margin-left: 20px;
    width: 120px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .eventInputs {
    margin-left: 20px;
    width: 480px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .iconBar {
    margin-left: 5px;
    width: 30px;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .eventTitle {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 5px;
    margin-bottom: 0px;
    color: #000000;
  
    vertical-align: middle;
  }
  
  .eventText {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 5px;
    margin-bottom: 0px;
  
    color: #000000;
  }
  
  .searchBar {
    width: 100%;
    padding-left: 60px;
    height: 40px;
    display: flex;
  }
  
  .searchBar input {
    border-radius: 20px;
    height: 40px;
    
    padding: 1px 10px 1px 10px;
  }
  
  .submitButton {
    background-color: var(--navy);
    font-family: var(--font-body);
    font-size: var(--extra-small);
    font-weight: var(--fw-bold);

    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 10px 15px;
    margin-left: 204px;
    margin-top: 50px;
}

.submitButton:hover {
  color: var(--dark-gold);
}

.description {
  display: flex;
  margin-bottom: .5em;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  border-radius: 7px;
}

.form{
  padding-left: 204px;
}
  
.inputDescription {
  padding: 1px 5px 1px 5px;
  text-align: left;
  margin: 0;
  display:flex;
  border-radius: 7px;
  height: 30vh;
  width: 60vw;
}
.input {
  padding: 1px 5px 1px 5px;
  text-align: left;
  margin: 0;
  width: 470px;
  display:flex;
  border-radius: 7px;
}
.bigInput {
  padding: 1px 5px 1px 5px;
  text-align: left;
  font-weight: 800;
  font-size: 40px;
  margin: 0;
  width: 470px;
  display:flex;
  border-radius: 7px;
  color: var(--navy);
  line-height: 53px;
}