.editEventsContainer {
    width: 100%;
    margin: 100px 0px 0px 0px;
    align-items: center;
}
  
.header {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 53px;
  text-align: left;
  color: var(--navy);
  margin: 0px;
  /* padding-left: 60px; */
  /* margin: 50px 0px 10px 0px; */

  display: flex;
}

.name {
  display: flex;
  gap: 1em;
  margin-top: -.05em;
  margin-bottom: 5px;
  height: 22px;
}
  
  .verticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contentBox {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 80%;
    height: fit-content;
    min-height: 290px;
  }
  .inputError {
    font-size: var(--extra-extra-small);
    margin-bottom: 5px;
  }
  
   
  .editUpperIcon {
    height: 30px;
    width: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
     
  .editMiddleIcon {
    height: 30px;
    width: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  .editIcon {
    height: 30px;
    width: 30px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  
  .upperRight {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-end;
    width: calc(100%-120px);
    /* background-color: green; */
    right:0;
  }
  
  .editBox {
    /* 120 px is bc icons are 60 px. change if icon size changes*/
    width: 100%;
    height: 260px;
    display: flex;
    margin-bottom: 1em;
  }
  
  .eventImage {
    object-fit: cover;
    width: 30vw;
    height: 200px;
    border: 3px solid black;
    align-self: center;
    overflow: hidden;
    object-fit: cover;
    display: inline-block;
  }
  
  .eventDetails {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    /* padding-top: 10px; */
    height: 260px;
    width: 7em;
    /* background-color: green; */
  }
  .form {
    width: 100%;
    padding: 50px 5% 50px 5%;
    position: relative;
    z-index: -999;
}

  .eventForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    height: 280px;
    width: 15em;

    justify-self: flex-end;
    /* background-color: green; */
  }

.iconBar {
  margin-left: 5px;
  width: 30px;
  /* background-color: greenyellow; */
}

.eventTitle {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 5px;
  margin-bottom: 0px;
  color: #000000;

  vertical-align: middle;
}

.eventText {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 5px;
  margin-bottom: 0px;

  color: #000000;
}
  
.submitButton {
  background-color: var(--navy);
  font-family: var(--font-body);
  font-size: var(--extra-small);
  font-weight: var(--fw-bold);

    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 10px 15px;
    margin-right: 1em;
}

.submitButton:hover {
  color: var(--dark-gold);
}

.description {
  padding: 1px 5px 1px 5px;
  display: flex;
  margin-bottom: .5em;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  border-radius: 7px;
  text-decoration: solid;
}

.inputDescription {
  padding: 1px 5px 1px 5px;
  text-align: left;
  margin-top: .5em;
  display:flex;
  border-radius: 7px;
  height: 80%;
  width: 60vw;
  border: 2px solid #000000;
  font-family: var(--font-body);
}

.input {
  /* padding: 1px 5px 1px 5px; */
  text-align: left;
  /* margin-top: .25em; */
  display: flex;
  border-radius: 7px;
  height: 22px;
  margin-bottom: 5px;
  font-family: var(--font-body);
}

.dateandTimeInput {
  /* padding: 1px 0px 1px 5px; */
  text-align: left;
  /* margin-top: .05em; */
  display: flex;
  border-radius: 7px;
  height: 22px;
  font-family: var(--font-body);
  margin-bottom: 5px;
}

.textImage{
  font-weight: bold;
  font-size: 30px;
  color: black;
  top: 117px;
  left: 298px;
  opacity: 1;
}

.myInput {
  display: none;
  visibility: hidden;
}

.inviteCheckbox {
  margin: 0px;
  height: 22px;
  width: 22px;
  margin-bottom: 5px;
  accent-color: var(--navy);
}