html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vsc-initialized {
  z-index: -9999;
  position: relative;
}

#__next {
  z-index: -9999;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  z-index: -999;
  position: relative;
}

:root {
  --dark-gold: #A28D5B;
  --gold: #B3A369;
  --navy: #003057;
}